@use "variables" as v;
@mixin article-style($color, $border-color, $font-size) {
  color: $color;
  border-color: $border-color;
  font-size: $font-size;
}
%text {
    color: v.$color-tertiary;
    text-decoration: underline;
    text-decoration-color: v.$color-secondary;
    text-align: center;
}
body {
    border: 1px v.$color-primary solid;
}
div {
    h1 {
        @extend %text;
    }
    h2 {
        @extend %text;
        @extend body;
        padding: 1rem;
        margin-left: 20%;
        margin-right: 20%;
    }
    .first {
        display: flex;
        padding: 10px;
        article {
            border: 1px solid v.$color-tertiary;
            justify-content: space-evenly;
            padding: inherit;
            &:nth-child(odd) {
                @include article-style(v.$color-secondary, v.$color-tertiary, v.$font-size-body)
            }
            &:nth-child(even) {
                @include article-style(v.$color-primary, v.$color-tertiary, v.$font-size-body)
            }
        }
    }
    .second_section {
        display: flex;
        justify-content: space-around;
        @for $i from 1 through 3 {
            .fs-#{$i}rem {
                font-size: #{$i}rem;
            }

        }
        div {
            @for $l from 1 through 20 {
                &:nth-child(#{$l}) {
                    background-color: darken(v.$base-background-color, $l * 5);
                    color: lighten(v.$text-color, $l * 5);
                @if $l == 10 {
                    background-color: v.$color-secondary;
                    color: v.$color-primary;
                }
                }
            }
            border: 1px v.$color-primary solid;
            height: 45px;
            width: 45px;
        }
    }
    .third_section {
        display: flex;
        padding: 10px;
        article {
            border:1px solid v.$color-secondary;
            flex: 1;
            p {
                display: flex;
                justify-content: center;
                @include article-style(v.$color-tertiary, v.$color-secondary, v.size_conversion_px_to_rem(v.$font-size-footer))
            }
        }
    }
}