@use "variables" as v;
@mixin article-style($color, $border-color, $font-size) {
  color: $color;
  border-color: $border-color;
  font-size: $font-size;
}
body {
    border: 1px v.$color-primary solid;
}
div {
    h1 {
        display: flex;
        justify-content: center;
        color: v.$color-tertiary;
        text-decoration: underline;
        text-decoration-color: v.$color-secondary;
    }
    .first {
        display: flex;
        padding: 10px;
        article {
            border: 1px solid v.$color-tertiary;
            justify-content: space-evenly;
            padding: inherit;
            &:nth-child(odd) {
                @include article-style(v.$color-secondary, v.$color-tertiary, v.$font-size-body)
            }
            &:nth-child(even) {
                @include article-style(v.$color-primary, v.$color-tertiary, v.$font-size-body)
            }
        }
    }
    .second {
        display: flex;
        padding: 10px;
        article {
            border:1px solid v.$color-secondary;
            flex: 1;
            p {
                display: flex;
                justify-content: center;
                @include article-style(v.$color-tertiary, v.$color-secondary, v.size_conversion_px_to_rem(v.$font-size-footer))
            }
        }
    }
}